/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, button, label, article, aside, footer, header, menu, nav, section, time, audio, video {
    margin: 0;
    padding: 0;
}

article, aside, footer, header, nav, section, audio, canvas, video {
    display: block;
}

body, button, input, select, textarea {
    color: #333;
    font: 14px/1.6 "Microsoft Yahei", arial, \5b8b\4f53, "Hiragino Sans GB", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

address, cite, dfn, em, strong, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e8284c;

    -webkit-transition: all .12s ease;
    -moz-transition: all .12s ease;
    transition: all .12s ease;
}

sup {
    vertical-align: text-top;
    font-size: 12px;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

input, textarea, button, fieldset, img {
    border: 0;
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
    font-size: 100%;
    font-weight: normal;
}

strong, em, i {
    font-style: normal;
    font-weight: normal;
}

body {
    color: #333;
    background: #fff;
}

input:focus, textarea:focus, button:focus {
    outline: 0;
}

button::-moz-focus-inner, button::-moz-focus-outer, input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0 none;
}

textarea {
    resize: vertical;
    overflow-y: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: both;
}

.strong a {
    color: #e8284c;
}

/* ���*/
.ad1 img {
    float: left;
    width: 272px;
    height: 70px;
    margin: 10px 0 8px 0;
}

.ad2 img {
    float: left;
    width: 272px;
    height: 78px;
    margin: 10px 0 2px 0;
}

.ad3 img {
    float: left;
    width: 272px;
    height: 166px;
    margin: 14px 0 2px 0;
}

/* Your module */

.container {
    width: 1062px;
    margin: 0 auto;

}

/* top */
.top-header {
    position: fixed;
    width: 100%;
    height: 36px;
    background-color: #ebeff1;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid #ececec;
}

.toptar-nav {
    height: 36px;
    line-height: 36px;

}

.icon-index, .icon-app, .icon-wx {
    position: absolute;
    top: 9px;
    width: 19px;
    height: 20px;

}

.icon-index {
    background: url("../images/index.png");
}

.icon-app {
    background: url("../images/app.png")
}

.icon-wx {
    background: url("../images/weixin.png");
}

.icon-arrow1 {
    position: absolute;
    top: 17px;
    right: 2px;
    width: 5px;
    height: 3px;
    background: url(../images/arrow1.png)
}

.menu {
    position: relative;
    float: left;
}

.menu-hd {
    z-index: 1000;
    padding: 0 5px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

.menu-hover {
    height: 37px;
    background: #fff;

}

.menu-hd a {
    color: #666;
    padding-left: 25px;
    font-size: 12px;
    display: block;
    position: relative;
}

.menu-hd a:hover {
    color: #e8284c;
}

.toptar-nav .menu .app-list li {
    float: left;
    width: 76px;
    margin-bottom: 18px;
}

.toptar-nav .menu .app-list .link-item .icon {
    background: url(../images/sprite-common.png) no-repeat;
}

.toptar-nav .menu .app-list .link-item {
    display: block;
    width: 50px;
    margin-left: 13px;
    text-align: center;
}

.toptar-nav .menu .app-list .link-item .icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    -webkit-transition: all .12s ease-out;
    -moz-transition: all .12s ease-out;
    transition: all .12s ease-out;
}

.toptar-nav .menu .app-list .link-item .app-name {
    display: block;
    padding-top: 4px;
    -webkit-transition: all .12s ease-out;
    -moz-transition: all .12s ease-out;
    transition: all .12s ease-out;
}

.toptar-nav .menu .app-list .link-item1 .icon {
    background-color: #cb7fb6;
    background-position: -308px -96px;
}

.toptar-nav .menu .app-list .link-item2 .icon {
    background-color: #ff8444;
    background-position: -358px -96px;
}

.toptar-nav .menu .app-list .link-item3 .icon {
    background-color: #dcb096;
    background-position: -408px -96px;
}

.toptar-nav .menu .app-list .link-item4 .icon {
    background-color: #bfc5c6;
    background-position: -308px -146px;
}

.toptar-nav .menu .app-list .link-item5 .icon {
    background-color: #f1bd45;
    background-position: -358px -146px;
}

.toptar-nav .menu .app-list .link-item6 .icon {
    background-color: #f16678;
    background-position: -408px -146px;
}

.toptar-nav .menu .app-list .link-item7 .icon {
    background-color: #fe997b;
    background-position: -308px -196px;
}

.toptar-nav .menu .app-list .link-item8 .icon {
    background-color: #4ccfaf;
    background-position: -358px -196px;
}

.toptar-nav .menu .app-list .link-item9 .icon {
    background-color: #3dc9c1;
    background-position: -408px -196px;
}

.toptar-nav .menu .app-list .link-item10 .icon {
    background-color: #9fcc5a;
    background-position: -308px -246px;
}

.toptar-nav .menu .app-list .link-item11 .icon {
    background-color: #c4b094;
    background-position: -358px -246px;
}

.toptar-nav .menu .app-list .link-item12 .icon {
    background-color: #19b9d2;
    background-position: -408px -246px;
}

.toptar-nav .menu .app-list .link-item1:hover .icon {
    background-color: #c16da9;
}

.toptar-nav .menu .app-list .link-item2:hover .icon {
    background-color: #ff7233;
}

.toptar-nav .menu .app-list .link-item3:hover .icon {
    background-color: #d5a286;
}

.toptar-nav .menu .app-list .link-item4:hover .icon {
    background-color: #b3babb;
}

.toptar-nav .menu .app-list .link-item5:hover .icon {
    background-color: #eeb134;
}

.toptar-nav .menu .app-list .link-item6:hover .icon {
    background-color: #ee5366;
}

.toptar-nav .menu .app-list .link-item7:hover .icon {
    background-color: #fe8969;
}

.toptar-nav .menu .app-list .link-item8:hover .icon {
    background-color: #3ac6a1;
}

.toptar-nav .menu .app-list .link-item9:hover .icon {
    background-color: #2dbfb6;
}

.toptar-nav .menu .app-list .link-item10:hover .icon {
    background-color: #8fc248;
}

.toptar-nav .menu .app-list .link-item11:hover .icon {
    background-color: #b9a283;
}

.toptar-nav .menu .app-list .link-item12:hover .icon {
    background-color: #0facc9;
}

.toptar-nav .menu .app-list .link-item:hover .app-name {
    color: #121212;
    text-decoration: underline;
}

.menu-bd {
    display: none;
    position: absolute;
    left: 0;
    top: 37px;
    z-index: 1002;
    border: 1px solid #ececec;
    border-top: 0 none;
    background: #fff;
}

.app-list {
    width: 318px;
    padding: 26px 0 5px 14px;

}

.shu {
    color: #cccccc;
    line-height: 36px;
    font-size: 11px;
    padding-left: 5px;
}

/* header */

.header {
    margin-top: 36px;
    width: 1062px;
    height: 75px;
}

.logo {
    width: 211px;
    height: 51px;
    margin-top: 25px;
}

.search {
    width: 441px;
    height: 36px;
    margin-top: 30px;
    margin-left: 50px;
}

.search-panel-fields {
    border: 1px solid #ccc;
}

.search-select {
    width: 75px;
    height: 36px;
    border-right: 1px solid #ccc;
}

.search-select a {
    display: block;
    position: relative;
    height: 36px;
    line-height: 36px;
    padding-left: 12px;
}

.select-bd {
    position: absolute;
    clear: both;
    display: block;
}

.icon-arrow2 {
    position: absolute;
    top: 15px;
    right: 8px;
    width: 11px;
    height: 7px;
    background: url(../images/arrow2.png)
}

.search-box-input {
    width: 278px;
    height: 36px;
    padding-left: 10px;

}

.search-button {
    width: 75px;
    height: 38px;
    background: url(../images/index013_17_03.png)
}

/* nav */

.nav {
    margin-top: 20px;
    height: 130px;
}

.tab_holder {
    height: 40px;
    line-height: 40px;
    background: #2799e1;
    border-radius: 5px 5px 0 0;
}

.tab_holder ul {
    margin-left: 10px;

}

.tab_holder li {
    margin: 0 3px;
    cursor: pointer;
    height: 40px;
    float: left;
}

.tab_holder a {
    display: block;

    padding: 0 20px;
}

.tab_holder a:hover {
    background: #2f8dc8;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.navhover {
    background: #2f8dc8;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.tab_holder .phone {
    /*padding-left: 40px;*/

}

.tab_holder .phone a {
    line-height: 40px;
}

.tab_holder .phone i {
    display: block;
    margin-top: 2px;
    float: left;
    width: 28px;
    height: 33px;
    background: url(../images/phone.png);
}

.tab_holder a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.nav_holder {
    border: 1px solid #ced1c6;
    border-top: none;
    float: left;
}

.nav_holder dl {
    padding: 10px 10px 10px 15px;
    border-right: #dadcd5 1px solid;
    float: left;
    display: inline;
    font-size: 14px;
    height: 65px;
    cursor: pointer;
    overflow: hidden;
}

.nhbg {
    background: #F5F7F8;
}

.nav_holder dl.dl1 {
    width: 230px;
}

.nav_holder dl.dl2 {
    width: 455px;
}

.nav_holder dl.dl3 {
    width: 298px;
    border-right: none;
}

.nav_holder dt, .nav_holder dd {
    float: left;
    display: inline;
}

.nav_holder dt {
    width: 55px;

    white-space: nowrap;
    text-align: center;
}

.nav_holder dt a {

    color: #2799e1;
}

.nav_holder dt i {
    display: block;
    width: 55px;
    height: 45px;
}

.nav_holder .dl1 dt i {
    background: url("../images/ms.png") no-repeat;
}

.nav_holder .dl2 dt i {
    background: url("../images/life.png") no-repeat;
}

.nav_holder .dl3 dt i {
    background: url("../images/info.png") no-repeat;
}

.nav_holder .dl1 dd {
    margin-top: 2px;
    margin-left: 10px;
    width: 160px;
}

.nav_holder .dl2 dd {
    margin-top: 2px;
    margin-left: 10px;
    width: 390px;
}

.nav_holder .dl3 dd {
    margin-top: 2px;
    margin-left: 10px;
    width: 200px;
}

.nav_holder dd ul li {
    position: relative;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    float: left;
    display: inline;

}

/* ��Ҫ */
.main {
    margin-top: 20px;
}

/* ��Ҫ-��� */
.main-grid1 {
    width: 320px;
    overflow: hidden;

}

/* ��Ҫ-���-ͼƬ��� */
.main-slider {
    height: 440px;
}

.slider-bd {

    height: 420px;

}

/**
 * ����ͼ ˮƽ����
 * ------------------------------ */

.banner {
    width: 320px;
    height: 420px;
    overflow: hidden;
}

.banner .cxslide_x {
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 420px;
}

.banner .cxslide_x a {
    color: #eee;
    text-decoration: none;
}

.banner .cxslide_x .box {
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 420px;
}

.banner.cxslide_x .list {
    overflow: hidden;
    width: 9999px;
}


.banner .cxslide_x .list li {
    float: left;
    position: relative;
    width: 320px;
    height: 420px;
}

.banner .cxslide_x .list img {
    vertical-align: top;
    width: 320px;
    min-height: 420px;
}

.banner .cxslide_x .list p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    color: #eee;
    font: 14px/24px arial;
    text-indent: 12px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.4);
}

.banner .cxslide_x .btn {
    overflow: hidden;
    position: absolute;
    bottom: 7px;
    right: 6px;
}

.banner .cxslide_x .btn li {
    float: left;
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
    border-radius: 3px;
    background: #eee;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}

.banner .cxslide_x .btn li.selected {
    background: #e8284c;
    color: #fff;
}

.banner .cxslide_x .minus,
.banner .cxslide_x .plus {
    position: absolute;
    top: 180px;
    width: 48px;
    height: 48px;
    background: url(../images/arrows-48-48-3.png) no-repeat;
    text-align: center;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.banner .cxslide_x .minus {
    left: 0;
    background-position: 0 0;
}

.banner .cxslide_x .plus {
    right: 0;
    background-position: -48px 0;
}

.banner .cxslide_x .minus:hover {
    background-position: 0 -50px;
}

.banner .cxslide_x .plus:hover {
    background-position: -48px -50px;
}


/* ��Ҫ-���-���� */
.baoliao {
    height: 356px;
}

.baoliao-hd {
    position: relative;
    height: 30px;
    border-bottom: 1px solid #333;
}

.baoliao-hd .title {

    width: 80px;
    height: 29px;
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid #2799e1;
}

.baoliao-hd .title b {
    color: #2799e1;
}

.link-more {
    margin-right: 2px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}

.link-more i {
    margin-top: 10px;
    margin-left: 4px;
    float: right;
    width: 13px;
    height: 11px;
    background: url(../images/more.png);
}

.baoliao-bd {
    margin-top: 8px;
}

.baoliao-bd li {
    float: left;
    margin: 3px 0;
}

.baoliao-bd .figure {
    position: relative;
    height: 100px;
}

.baoliao-bd .figure i {
    position: absolute;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
    height: 25px;
    width: 25px;
    background: #ed4d79;
    top: 75px;
    left: 0;
}

.baoliao-bd img {
    width: 100px;
    height: 100px;
}

.baoliao-bd .info {
    margin-left: 10px;
    width: 210px;
}

.baoliao-bd .info strong {
    display: block;
    width: 210px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
}

.baoliao-bd .info p {
    width: 210px;
    height: 70px;
    color: #666666;
    overflow: hidden;
}

.baoliao-bd .item {
    width: 320px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}

.baoliao-bd .item i {
    color: #ffffff;
    float: left;
    display: block;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 12px;
    background: #cccccc;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 3px;
}

/* ͷ����Ҫ�����м� */
.main-grid2 {
    margin-left: 25px;
    width: 420px;
}

.top-news {

}

.top-news .news-list {
    text-align: center;
    margin: 0 0 10px 0;
}

.top-news .news-list .title {
    width: 420px;
    height: 30px;
    overflow: hidden;
}

.top-news .news-list li {
    width: 420px;
    overflow: hidden;
    height: 25px;
    margin: 4px 0;
}

.top-news .news-list h3 {
    width: 420px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.top-news .news-list p {

    width: 420px;
    height: 40px;
    font-size: 12px;
    color: #666666;
    overflow: hidden;
}

.top-news .news-list .kuaixun span, .top-news .news-list .kuaixun span a {
    text-indent: 0;
    color: #2799e1;
}

.top-news .news-list .kuaixun {
    text-indent: 10px;
    text-align: left;
}

.top-news .pk {
    width: 420px;
    height: 128px;
    border: 1px solid #cccccc;
}

/* ͷ����Ҫ�����Ҳ� */
.main-grid3 {
    margin-left: 25px;
    width: 272px;
}

.loginbox {
    width: 270px;
    background: #f5f7f8;
    border: 1px solid #ececec;
    height: 92px;
}

.unlogin {
    height: 98px;
    padding: 2px 10px;
    overflow: hidden;
}

.unlogin .login, .unlogin .regist {
    float: left;
    margin: 10px 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 41px;

    border-radius: 30px;
}

.unlogin .login {
    background-color: #2799e1;
}

.unlogin .login:hover {
    background-color: #2f8dc8;
}

.unlogin .regist {
    background-color: #f3a528;
}

.unlogin .regist:hover {
    background-color: #df9a2d;
}

.unlogin .other-lg {
    color: #666666;
    float: left;

    margin-left: 9px;
}

.unlogin .other-lg .weibo {
    float: right;
    margin: 0 5px;;
    padding: 10px;
    background: url(../images/wb.png) no-repeat;
}

.unlogin .other-lg .qq {
    float: right;
    margin: 0 5px;
    padding: 10px;
    background: url(../images/qq.png) no-repeat;
}

/* fruit */
/**
 * ����
 * ------------------------------ */
.scroll_vertical {
    position: relative;
    width: 262px;
    height: 190px;
    padding: 10px 5px;
}

.scroll_vertical .box {
    overflow: hidden;
    position: relative;
    width: 262px;
    height: 170px;
    border-bottom: 1px dashed #ececec;
}

.scroll_vertical img {
    float: left;
    width: 65px;
    height: 65px;
}

.scroll_vertical .list {
    position: absolute;
    top: 0;
    left: 0;
}

.scroll_vertical li p {
    margin-top: -2px;
    margin-left: 10px;
    text-align: left;
    float: left;
    width: 175px;
}

.scroll_vertical li span {
    float: left;
    margin-left: 10px;
    font-size: 22px;
    color: #e8284c;
}

.scroll_vertical span strong {
    font-size: 12px;
}

.scroll_vertical li span del {
    color: #999999;
    margin-left: 5px;
    font-size: 14px;

}

.scroll_vertical .list li {
    overflow: hidden;

    width: 262px;
    height: 90px;
    text-align: center;
}

.scroll_vertical .next {
    position: absolute;
    left: 130px;
    width: 17px;
    height: 11px;
    cursor: pointer;
    bottom: 8px;
    background: url(../images/arrowdown3.png);
}

.scroll_vertical .next {

}

.scroll_vertical .next:hover {

}

.fruit-sale {
    height: 240px;
    margin-top: 10px;
}

.fruit-list {
    position: relative;
    width: 272px;
    height: 186px;
    overflow: hidden;
    border-bottom: 1px dashed #cccccc;
}

.fruit-info {
    padding-top: 10px;
    position: absolute;
    height: 167px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fruit-list li {
    height: 187px;
    width: 272px;
    list-style: none;
}

.fruit-list li div {
    float: left;
    margin: 5px 0;
}

.fruit-list li img {
    float: left;
    width: 70px;
    height: 70px;
}

.fruit-list li p {
    margin-top: -2px;
    margin-left: 10px;
    float: left;
    width: 175px;
}

.fruit-list li span {
    margin-left: 10px;
    font-size: 22px;
    color: #e8284c;
}

.fruit-list li span strong {
    font-size: 12px;
}

.fruit-list li span del {
    color: #999999;
    margin-left: 5px;
    font-size: 14px;

}

.arrowdown3 {
    width: 17px;
    height: 11px;
    margin: 8px auto 4px;
    background: url(../images/arrowdown3.png);
    cursor: pointer;
}

.save-money {
    width: 272px;
}

.save-info {
    width: 272px;
    padding: 0 5px;
}

.save-info li {
    float: left;
    height: 50px;
    font-size: 12px;
    margin-top: 10px;
    border-bottom: 1px dashed #cccccc;
    overflow: hidden;
}

.save-info li img {
    margin-top: 2px;
    width: 38px;
    height: 40px;
    float: left;

}

.save-info li span {
    margin: 0 0 3px 10px;
    float: left;
    width: 200px;
    height: 20px;
    overflow: hidden;
}

/*  �罻 */
.social-list li {
    width: 68px;
    float: left;
}

.social-list li i {
    display: block;
    width: 49px;
    height: 42px;
    margin: 0 auto;
    background: url(../images/social.png) no-repeat;
    -webkit-transition: all .12s ease;
    -moz-transition: all .12s ease;
    transition: all .12s ease;
}

.social-list .weibo i {
    background-position: -10px -322px;
}

.social-list .weixin i {
    background-position: -10px -218px;
}

.social-list .app-down i {
    background-position: -10px -114px;
}

.social-list .email i {
    background-position: -10px -10px;
}

.social-list .weibo a:hover i {
    background-position: -10px -374px;
}

.social-list .weixin a:hover i {
    background-position: -10px -270px;
}

.social-list .app-down a:hover i {
    background-position: -10px -166px;
}

.social-list .email a:hover i {
    background-position: -10px -62px;
}

.social-list .weibo a:hover {
    color: #df0e23;
}

.social-list .weixin a:hover {
    color: #05ab10;
}

.social-list .app-down a:hover {
    color: #2382bd;
}

.social-list .email a:hover {
    color: #ff9933;
}

._r2_c16 {
    width: 49px;
    height: 42px;
    background-position: -10px -10px;
}

._r2_c14 {
    width: 49px;
    height: 42px;
    background-position: -10px -62px;
}

._r2_c12 {
    width: 49px;
    height: 42px;
    background-position: -10px -114px;
}

._r2_c10 {
    width: 49px;
    height: 42px;
    background-position: -10px -166px;
}

._r2_c8 {
    width: 49px;
    height: 42px;
    background-position: -10px -218px;
}

._r2_c6 {
    width: 49px;
    height: 42px;
    background-position: -10px -270px;
}

._r2_c4 {
    width: 49px;
    height: 42px;
    background-position: -10px -322px;
}

._r2_c2 {
    width: 49px;
    height: 42px;
    background-position: -10px -374px;
}

.social-list li a {
    font-size: 12px;
    display: block;
    text-align: center;
    color: #999;

}

/* � */
.activity {
    margin-bottom: 20px;
}

.act-title {
    border-top: 1px solid #333333;
    overflow: hidden;
}

.act-title h1 {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: -1px;
    color: #2799e1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 120px;
    border-top: 2px solid #2799e1;
}

.activity-nav {
    float: left;
    margin-left: 5px;
}

.activity-nav li {
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    float: left;
    padding: 5px 20px 0;
}

.activity-nav li a:hover {
    color: #2799e1;
}

.coupon-line {
    width: 60px;
    height: 2px;
    background: #2799e1;
    margin-left: 130px;
}

/* ��������� */

.activity-content {
    padding: 0 30px;
    border: 1px solid #ececec;
    overflow: hidden;
}

.content-house {

}

.content-pane1 {
    float: left;
    width: 280px;
    height: 410px;
}

.content-hd {
    width: 280px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px dashed #ececec;
}

.content-hd a {
    color: #2799e1;
}

.content-bd {
    margin-top: 15px;

}

.content-bd img {
    width: 280px;
    height: 335px;
}

.content-pane2 {
    float: left;
    margin-left: 35px;
}

.content-list {
    float: left;
    margin-left: 35px;
    width: 370px;
}

.content-list .content-hd {
    width: 370px;
}

.content-list .content-hd span {

    color: #999999;
}

.content-list .content-hd em {
    font-weight: bold;
    margin-right: 20px;
    color: #e8284c;
}

.content-list .content-bd li {
    font-size: 16px;
    height: 30px;
    width: 370px;
    margin: 5px 0;
}

.content-list .content-bd img {
    display: none;
}

.content-list .content-bd p {

    height: 25px;
    overflow: hidden;
}

.content-list .content-bd .list-active {
    height: 165px;
}

.content-list .content-bd .list-active img {
    display: block;
}

.content-list .content-bd i {
    margin: 11px 8px 0 0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #cccccc;
    float: left;
}

.content-list .content-bd img {
    width: 0;
    height: 0;
}

.content-list .content-bd .list-active img {
    margin: 5px 0;
    width: 370px;
    height: 135px;
}

/* ���� */
.buidings {
    overflow: hidden;
}

.floor-pane1 {
    margin-top: 3px;
    width: 765px;
}

.floor-bgimage {
    float: left;
    overflow: hidden;
}

/**
 * ����ͼ ˮƽ����
 * ------------------------------ */
.cxslide_x {
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 200px;
}

.cxslide_x a {
    color: #eee;
    text-decoration: none;
}

.cxslide_x .box {
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 200px;
}

.cxslide_x .list {
    overflow: hidden;
    width: 9999px;
}

.cxslide_x .list li {
    float: left;
    position: relative;
    width: 320px;
    height: 200px;
}

.cxslide_x .list img {
    vertical-align: middle;
    width: 320px;
}

.cxslide_x .list p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    color: #eee;
    font: 14px/24px arial;
    text-indent: 12px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.4);
}

.cxslide_x .btn {
    overflow: hidden;
    position: absolute;
    bottom: 7px;
    right: 6px;
}

.cxslide_x .btn li {
    float: left;
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
    border-radius: 3px;
    background: #eee;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;

}

.cxslide_x .btn li.selected {
    background: #e8284c;
    color: #fff;
}

/*.floor-bgimage img {*/
    /*width: 320px;*/
    /*height: 200px;*/
/*}*/

.floor-news {
    width: 420px;
    height: 200px;
    float: left;
    margin-left: 25px;
}

.floor-news p {
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    color: #666;
    overflow: hidden;
}

.news-title {
    margin-top: 3px;
    text-align: center;
    font-size: 22px;
}

.news-title a {
    color: #2799e1;
}

.news-title a:hover {
    text-decoration: underline;
}

.floor-imgshow {
    position: relative;
    width: 765px;
    float: left;
    margin-top: 10px;

    overflow: hidden;
}

.imgshow-title {
    overflow: hidden;
}

.imgshow-title h3 {
    float: left;
    font-size: 16px;
}

.imgshow-list {
    width: 765px;
    height: 125px;
    padding: 5px 0;
    overflow: hidden;
}

/**
 * �������
 * ------------------------------ */
.scroll_horizontal {
    position: relative;
    width: 765px;
    height: 129px;
    padding: 4px 0;
}

.scroll_horizontal .box {
    overflow: hidden;
    position: relative;
    width: 705px;
    height: 129px;
    margin: 0 auto;
}

.scroll_horizontal .list {
    overflow: hidden;

    width: 9999px;
}

.scroll_horizontal .list li {
    float: left;
    height: 130px;
    width: 220px;
    padding-right: 22px;

}

.scroll_horizontal .list img {
    height: 130px;
    width: 220px;
}

.scroll_horizontal .list a {

    position: relative;;
    display: block;
}

.img-bg {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}

.scroll_horizontal .prev,
.scroll_horizontal .next {
    position: absolute;
    top: 55px;
    width: 14px;
    height: 29px;
    cursor: pointer;
}

.scroll_horizontal .prev {
    left: 5px;
    background: url(../images/arrowleft.png) no-repeat;
}

.scroll_horizontal .next {
    right: 5px;
    background: url(../images/arrowright.png) no-repeat;
}

/**
 * �������2
 * ------------------------------ */
.scroll_horizontal2 {
    position: relative;
    width: 420px;
    height: 180px;
}

.scroll_horizontal2 .box {
    overflow: hidden;
    position: relative;
    width: 420px;
    height: 180px;
    margin: 0 auto;
}

.scroll_horizontal2 .list {
    overflow: hidden;

    width: 9999px;
}

.scroll_horizontal2 .list li {
    float: left;
    height: 180px;
    width: 200px;
    padding-right: 20px;
    overflow: hidden;
}

.scroll_horizontal2 .list img {
    float: left;
    width: 200px;
    height: 180px;
}

.scroll_horizontal2 .list a {
    position: relative;;
    display: block;
}

.scroll_horizontal2 .img-bg {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 150px;
    left: 0;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}

.scroll_horizontal2 .prev,
.scroll_horizontal2 .next {
    z-index: 1000;
    position: absolute;
    top: 65px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(../images/arrows-48-48-3.png) no-repeat;
}

.scroll_horizontal2 .prev {
    left: 5px;
    background-position: -2px -49px;
}

.scroll_horizontal2 .next {
    right: 5px;
    background-position: -49px -49px;
}

.scroll_horizontal2 .prev:hover {
    left: 5px;
    background-position: -2px -3px;;
}

.scroll_horizontal2 .next:hover {
    right: 5px;
    background-position: -49px -3px;
}

/*  �������3  */
.scroll_horizontal3 {
    position: relative;
    width: 765px;
    height: 210px;
}

.scroll_horizontal3 .box {
    overflow: hidden;
    position: relative;
    width: 725px;
    height: 210px;
    margin: 0 auto;
}

.scroll_horizontal3 .list {
    overflow: hidden;
    width: 9999px;
}

.scroll_horizontal3 .list li {
    float: left;
    height: 210px;
    width: 163px;
    padding-right: 24px;
    overflow: hidden;
}

.scroll_horizontal3 .list img {
    float: left;
    width: 163px;
    height: 210px;

    border-radius: 5px;
}

.scroll_horizontal3 .list a {
    position: relative;;
    display: block;
}

.scroll_horizontal3 .img-bg {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 150px;
    left: 0;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}

.scroll_horizontal3 .prev,
.scroll_horizontal3 .next {
    z-index: 1000;
    position: absolute;
    top: 78px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(../images/arrows-48-48-3.png) no-repeat;
}

.scroll_horizontal3 .prev {
    left: 0;
    background-position: -2px -49px;
}

.scroll_horizontal3 .next {
    right: 0;
    background-position: -49px -49px;
}

.scroll_horizontal3 .prev:hover {
    left: 0;
    background-position: -2px -3px;;
}

.scroll_horizontal3 .next:hover {
    right: 0;
    background-position: -49px -3px;
}

/*�ֲ����˽��� */
/* �����Ҳ����� */
.floor-pane2 {
    margin-left: 25px;
    width: 272px;
}

.floor-pane2 h3 {
    font-size: 16px;
    color: #e8284c;
}

.kanfang {

}

.kanfang i {
    float: left;
    margin: 2px 5px 0 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: block;
    color: #ffffff;

    background: #cccccc;
    border-radius: 3px;
}

.kanfang li a {
    display: block;
    width: 272px;
    height: 26px;
    overflow: hidden;
    margin: 3px 0;
}

.kanfang li p {
    width: 272px;
    height: 48px;
    color: #999;
    overflow: hidden;
}

.cars {
    margin-top: 20px;
    overflow: hidden;
}

.car-info {
    width: 420px;
}

.car-info li {
    float: left;
    width: 200px;
    margin: 6px 10px 0 0;
    font-size: 12px;
}

.car-info li i {
    padding: 1px 4px;
    margin-right: 8px;
    color: #ffffff;
    background: #2799e1;
}

.fours-sale {
    height: 348px;
    overflow: hidden;
}

.fours-sale li:first-child {
    margin-bottom: 8px;
}

.fours-sale li {
    margin: 4px 0;
}

.fours-sale li a {
    font-size: 12px;
}

.fours-sale img {
    width: 272px;
    height: 110px;
}

.fours-sale .item-active {
    position: relative;
    height: 110px;
}

.fours-sale li i {
    margin: 6px 8px 0 0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

/* �Ҿ�װ�� */
.home {
    margin-top: 20px;
    overflow: hidden;
}

.home .floor-pane2 .imgshow-title h3 {
    font-size: 18px;
    color: #333333;
}

.home .floor-pane2 .imgshow-title strong {
    font-size: 24px;
    color: #f3a528;
}

.home .special {
    margin: 10px 0;

    padding-left: 1px;
    overflow: hidden;
}

.home .special li {
    margin: 0 2px;
    width: 50px;
    float: left;
    font-size: 12px;
    text-align: center;
}

.home .special i {
    display: block;
    margin: 0 auto;
    width: 37px;
    height: 40px;
    background: url(../images/special.png) no-repeat;
}

.home .special .item1 i {
    background-position: -10px -210px;
}

.home .special .item2 i {
    background-position: -10px -160px;
}

.home .special .item3 i {
    background-position: -10px -110px;
}

.home .special .item4 i {
    background-position: -10px -60px;
}

.home .special .item5 i {
    background-position: -10px -10px;
}

.home .special a {
    color: #666;
}

.home .special a:hover {
    color: #f3a528;
}

.apply {
    margin-bottom: 7px;
    padding: 6px;
    height: 32px;
    background: #f5f7f8;
}

.apply .text {
    padding-left: 5px;
    height: 32px;
    width: 205px;
}

.apply .aBt {
    margin-left: 4px;
    height: 32px;
    width: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #f3a528;
    background: none;
}

.notice {
    float: left;
    margin: 3px;
    overflow: hidden;
}

.notice i {
    display: block;
    float: left;
    width: 21px;
    height: 21px;
    background: url(../images/sprite-common2.png) no-repeat -10px -156px;;

}

.notice span {
    float: left;
    margin: 1px 0 0 2px;
    color: #666;
}

.notice em {
    font-weight: bold;
    color: #f3a528;
}

/* ��ʳ */

.food {
    margin-top: 20px;
    overflow: hidden;
}

.recbs-list {
    margin-top: 10px;
    width: 320px;
    overflow: hidden;
}

.recbs-list img {
    float: left;
    width: 160px;
    height: 60px;
}

.recfd-list {
    margin: 10px 0 0 25px;
    width: 420px;
    overflow: hidden;
}

.food .imgshow-title h3 {
    font-size: 18px;
    color: #333333;
}

.food .imgshow-title strong {
    font-size: 24px;
    color: #e8284c;
}

.food .floor-pane2 h2 a {
    font-size: 18px;
    font-weight: bold;
}

.food .floor-pane2 p {
    color: #666;
    font-size: 12px;
    height: 42px;
    overflow: hidden;
}

.food .apply {
    position: relative;
    height: 69px;
    margin-bottom: 0;
}

.food .apply input:first-child {
    margin-bottom: 5px;
}

.food .aBt {
    position: absolute;
    text-align: center;
    top: 21px;
    right: 10px;
    width: 39px;
    height: 40px;
    background: url(../images/mfbm.png);
}

/* ��� */
.marriage {
    margin-top: 20px;
}

.marriage .imgshow-list {
    width: 765px;
    height: 206px;
    padding: 5px 0;
    overflow: hidden;
}

.marriage .imgshow-list img {
    width: 158px;
    height: 206px;
    border-radius: 15px;
}

.marriage .imgshow-title {
    border-bottom: 1px solid #e8284c;
}

.marriage .imgshow-title h3 {

    display: block;
    padding: 4px 8px;
    color: #ffffff;
    font-size: 14px;
    background: #e8284c;
}

.marriage .fours-sale {
    height: 426px;
}

.marriage .fours-sale li {
    margin: 4px 0;
}

.marriage .fours-sale li:first-child {
    margin: 12px 0;
}

.marriage .fours-sale li {
    border-bottom: 1px dashed #ececec;
}

.marriage .fours-sale li:first-child, .marriage .fours-sale li:last-child {

    border-bottom: none;
}

/* ��Ӱ */

.hotphoto {
    margin: 20px 0;
    overflow: hidden;
}

.hotphoto .image-show {
    width: 1062px;
    height: 430px;
    margin: 10px 0;
}

.hotphoto .image-show .image1 {
    width: 234px;
    float: left;
}

.hotphoto .image-show .image1 .image1-1 img {
    height: 255px;
}

.hotphoto .image-show .image1 img {
    border: 1px solid #ffffff;
    width: 234px;
    height: 174px;
}

.hotphoto .image-show .image2 {
    width: 236px;
    float: left;
}

.hotphoto .image-show .image2 .image1-1 img {
    height: 170px;
}

.hotphoto .image-show .image2 img {
    border: 1px solid #ffffff;
    width: 236px;
    height: 259px;
}

.hotphoto .image-show .image3 {
    width: 362px;
    float: left;
}

.hotphoto .image-show .image3 .image1-1 img {
    height: 255px;
}

.hotphoto .image-show .image3 img {

    border: 1px solid #ffffff;
    width: 362px;
    height: 174px;
}

.hotphoto .image-show .image4 {
    width: 228px;
    float: left;
}

.hotphoto .image-show .image4 img {

    border: 1px solid #ffffff;
    width: 228px;
    height: 255px;
}

.hotphoto .image-show .image4 .image1-1 img {

    height: 174px;
}

.hotphoto .image-show .image1 .image1-1 img, .hotphoto .image-show .image2 .image1-1 img, .hotphoto .image-show .image3 .image1-1 img, .hotphoto .image-show .image4 .image1-1 img {
    border-bottom: none;
}

/* �ײ� */

.footer {
    font-size: 12px;
}

.footer .yqlj {
    padding: 15px 0;
    overflow: hidden;
    border: 1px solid #ececec;
    border-right: none;
    border-left: none;
}

.footer .yqlj span {
    float: left;
    width: 80px;
    font-weight: bold;
}

.footer .yqlj ul {
    width: 980px;
    float: left;
}

.footer .yqlj li {
    margin: 0 10px;
    line-height: 25px;
    float: left;
}

.footer .yqlj a {
    color: #666666;
}

.footer .applylj a {
    color: #2799e1;
}

.footer .web-info {
    color: #666;
    text-align: center;
    margin: 20px auto;
}

.footer .web-info span {
    color: #cccccc;
}

.footer .web-info p {
    margin: 3px 0;
}

.footer .web-info p:first-child {
    margin: 6px 0;
}

.footer .web-info a {
    color: #666;
    padding: 0 5px;
}

.footer .web-info a:hover {
    color: #e8284c;
}

.footer .web-info li {
    float: left;
}