/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, button, label, article, aside, footer, header, menu, nav, section, time, audio, video {
    margin: 0;
    padding: 0;
}

article, aside, footer, header, nav, section, audio, canvas, video {
    display: block;
}

body, button, input, select, textarea {
    color: #333;
    font: 14px/1.6 "Microsoft Yahei", arial, \5b8b\4f53, "Hiragino Sans GB", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

address, cite, dfn, em, strong, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e8284c;

    -webkit-transition: all .12s ease;
    -moz-transition: all .12s ease;
    transition: all .12s ease;
}

sup {
    vertical-align: text-top;
    font-size: 12px;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

input, textarea, button, fieldset, img {
    border: 0;
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
    font-size: 100%;
    font-weight: normal;
}

strong, em, i {
    font-style: normal;
    font-weight: normal;
}

body {
    color: #333;
    background: #fff;
}

input:focus, textarea:focus, button:focus {
    outline: 0;
}

button::-moz-focus-inner, button::-moz-focus-outer, input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0 none;
}

textarea {
    resize: vertical;
    overflow-y: auto;
}

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: both;
}

.notice a {
    color: #e8284c;
}

/* 广告*/
.ad1 img {
    float: left;
    width: 272px;
    height: 70px;
    margin: 10px 0 8px 0;
}

.ad2 img {
    float: left;
    width: 272px;
    height: 78px;
    margin: 10px 0 2px 0;
}

/* Your module */

.container {
    width: 1062px;
    margin: 0 auto;

}

/* top */
.top-header {
    position: fixed;
    width: 100%;
    height: 36px;
    background-color: #ebeff1;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid #ececec;
}

.toptar-nav {
    height: 36px;
    line-height: 36px;

}

.icon-index, .icon-app, .icon-wx {
    position: absolute;
    top: 9px;
    width: 19px;
    height: 20px;

}

.icon-index {
    background: url("../images/index.png");
}

.icon-app {
    background: url("../images/app.png")
}

.icon-wx {
    background: url("../images/weixin.png");
}

.icon-arrow1 {
    position: absolute;
    top: 17px;
    right: 2px;
    width: 5px;
    height: 3px;
    background: url(../images/arrow1.png)
}

.menu {
    position: relative;
    float: left;
}

.menu-hd {
    z-index: 1000;
    padding: 0 5px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

.menu-hover {
    height: 37px;
    background: #fff;

}

.menu-hd a {
    color: #666;
    padding-left: 25px;
    font-size: 12px;
    display: block;
    position: relative;
}

.menu-hd a:hover {
    color: #e8284c;
}

.toptar-nav .menu .app-list li {
    float: left;
    width: 76px;
    margin-bottom: 18px;
}

.toptar-nav .menu .app-list .link-item .icon {
    background: url(../images/sprite-common.png) no-repeat;
}

.toptar-nav .menu .app-list .link-item {
    display: block;
    width: 50px;
    margin-left: 13px;
    text-align: center;
}

.toptar-nav .menu .app-list .link-item .icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    -webkit-transition: all .12s ease-out;
    -moz-transition: all .12s ease-out;
    transition: all .12s ease-out;
}

.toptar-nav .menu .app-list .link-item .app-name {
    display: block;
    padding-top: 4px;
    -webkit-transition: all .12s ease-out;
    -moz-transition: all .12s ease-out;
    transition: all .12s ease-out;
}

.toptar-nav .menu .app-list .link-item1 .icon {
    background-color: #cb7fb6;
    background-position: -308px -96px;
}

.toptar-nav .menu .app-list .link-item2 .icon {
    background-color: #ff8444;
    background-position: -358px -96px;
}

.toptar-nav .menu .app-list .link-item3 .icon {
    background-color: #dcb096;
    background-position: -408px -96px;
}

.toptar-nav .menu .app-list .link-item4 .icon {
    background-color: #bfc5c6;
    background-position: -308px -146px;
}

.toptar-nav .menu .app-list .link-item5 .icon {
    background-color: #f1bd45;
    background-position: -358px -146px;
}

.toptar-nav .menu .app-list .link-item6 .icon {
    background-color: #f16678;
    background-position: -408px -146px;
}

.toptar-nav .menu .app-list .link-item7 .icon {
    background-color: #fe997b;
    background-position: -308px -196px;
}

.toptar-nav .menu .app-list .link-item8 .icon {
    background-color: #4ccfaf;
    background-position: -358px -196px;
}

.toptar-nav .menu .app-list .link-item9 .icon {
    background-color: #3dc9c1;
    background-position: -408px -196px;
}

.toptar-nav .menu .app-list .link-item10 .icon {
    background-color: #9fcc5a;
    background-position: -308px -246px;
}

.toptar-nav .menu .app-list .link-item11 .icon {
    background-color: #c4b094;
    background-position: -358px -246px;
}

.toptar-nav .menu .app-list .link-item12 .icon {
    background-color: #19b9d2;
    background-position: -408px -246px;
}

.toptar-nav .menu .app-list .link-item1:hover .icon {
    background-color: #c16da9;
}

.toptar-nav .menu .app-list .link-item2:hover .icon {
    background-color: #ff7233;
}

.toptar-nav .menu .app-list .link-item3:hover .icon {
    background-color: #d5a286;
}

.toptar-nav .menu .app-list .link-item4:hover .icon {
    background-color: #b3babb;
}

.toptar-nav .menu .app-list .link-item5:hover .icon {
    background-color: #eeb134;
}

.toptar-nav .menu .app-list .link-item6:hover .icon {
    background-color: #ee5366;
}

.toptar-nav .menu .app-list .link-item7:hover .icon {
    background-color: #fe8969;
}

.toptar-nav .menu .app-list .link-item8:hover .icon {
    background-color: #3ac6a1;
}

.toptar-nav .menu .app-list .link-item9:hover .icon {
    background-color: #2dbfb6;
}

.toptar-nav .menu .app-list .link-item10:hover .icon {
    background-color: #8fc248;
}

.toptar-nav .menu .app-list .link-item11:hover .icon {
    background-color: #b9a283;
}

.toptar-nav .menu .app-list .link-item12:hover .icon {
    background-color: #0facc9;
}

.toptar-nav .menu .app-list .link-item:hover .app-name {
    color: #121212;
    text-decoration: underline;
}

.menu-bd {
    display: none;
    position: absolute;
    left: 0;
    top: 37px;
    z-index: 1002;
    border: 1px solid #ececec;
    border-top: 0 none;
    background: #fff;
}

.app-list {
    width: 318px;
    padding: 26px 0 5px 14px;

}

.shu {
    color: #cccccc;
    line-height: 36px;
    font-size: 11px;
    padding-left: 5px;
}

/* header */

.header {
    margin-top: 36px;
    width: 1062px;
    height: 75px;
}

.logo {
    width: 211px;
    height: 51px;
    margin-top: 25px;
}

.search {
    width: 441px;
    height: 36px;
    margin-top: 30px;
    margin-left: 50px;
}

.search-panel-fields {
    border: 1px solid #ccc;
}

.search-select {
    width: 75px;
    height: 36px;
    border-right: 1px solid #ccc;
}

.search-select a {
    display: block;
    position: relative;
    height: 36px;
    line-height: 36px;
    padding-left: 12px;
}

.select-bd {
    position: absolute;
    clear: both;
    display: block;
}

.icon-arrow2 {
    position: absolute;
    top: 15px;
    right: 8px;
    width: 11px;
    height: 7px;
    background: url(../images/arrow2.png)
}

.search-box-input {
    width: 278px;
    height: 36px;
    padding-left: 10px;

}

.search-button {
    width: 75px;
    height: 38px;
    background: url(../images/index013_17_03.png)
}

/* nav */

.nav {
    margin-top: 20px;
    height: 130px;
}

.tab_holder {
    height: 40px;
    line-height: 40px;
    background: #289ee8;
    border-radius: 5px 5px 0 0;
}

.tab_holder ul {
    margin-left: 10px;

}

.tab_holder li {
    cursor: pointer;
    height: 40px;
    float: left;
    padding: 0 20px;
}

.navhover {
    background: #2382bd;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.tab_holder .phone {
    /*padding-left: 40px;*/

}

.tab_holder .phone a {
    line-height: 40px;
}

.tab_holder .phone i {
    display: block;
    margin-top: 2px;
    float: left;
    width: 28px;
    height: 33px;
    background: url(../images/phone.png);
}

.tab_holder a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.nav_holder {
    border: 1px solid #ced1c6;
    border-top: none;
    float: left;
}

.nav_holder dl {
    margin: 10px 10px 10px 15px;
    border-right: #dadcd5 1px solid;
    float: left;
    display: inline;
    font-size: 14px;
    height: 65px;
    overflow: hidden;
}

.nav_holder dl.dl1 {
    width: 230px;
}

.nav_holder dl.dl2 {
    width: 455px;
}

.nav_holder dl.dl3 {
    width: 298px;
    border-right: none;
}

.nav_holder dt, .nav_holder dd {
    float: left;
    display: inline;
}

.nav_holder dt {
    width: 55px;

    white-space: nowrap;
    text-align: center;
}

.nav_holder dt a {

    color: #289ee8;
}

.nav_holder dt i {
    display: block;
    width: 55px;
    height: 45px;
}

.nav_holder .dl1 dt i {
    background: url("../images/ms.png") no-repeat;
}

.nav_holder .dl2 dt i {
    background: url("../images/life.png") no-repeat;
}

.nav_holder .dl3 dt i {
    background: url("../images/info.png") no-repeat;
}

.nav_holder .dl1 dd {
    margin-top: 2px;
    margin-left: 10px;
    width: 160px;
}

.nav_holder .dl2 dd {
    margin-top: 2px;
    margin-left: 10px;
    width: 390px;
}

.nav_holder .dl3 dd {
    margin-top: 2px;
    margin-left: 10px;
    width: 200px;
}

.nav_holder dd ul li {
    position: relative;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    float: left;
    display: inline;

}

/* 主要 */
.main {
    margin-top: 20px;
}

/* 主要-左侧 */
.main-grid1 {
    width: 320px;
    overflow: hidden;

}

/* 主要-左侧-图片浏览 */
.main-slider {
    height: 440px;
}

.slider-bd {
    height: 412px;

    overflow: hidden;

}

.slider-bd img {
    width: 320px;
    height: 412px;
}

/* 主要-左侧-爆料 */
.baoliao {
    height: 356px;
}

.baoliao-hd {
    position: relative;
    height: 30px;
    border-bottom: 1px solid #333;
}

.baoliao-hd .title {

    width: 80px;
    height: 29px;
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid #289ee8;
}

.baoliao-hd .title b {
    color: #289ee8;
}

.link-more {
    line-height: 30px;
    font-size: 12px;
    color: #999;
}

.link-more i {
    margin-top: 10px;
    margin-left: 4px;
    float: right;
    width: 13px;
    height: 11px;
    background: url(../images/more.png);
}

.baoliao-bd {
    margin-top: 8px;
}

.baoliao-bd li {
    float: left;
    margin: 3px 0;
}

.baoliao-bd .figure {
    position: relative;
    height: 100px;
}

.baoliao-bd .figure i {
    position: absolute;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
    height: 25px;
    width: 25px;
    background: #ed4d79;
    top: 75px;
    left: 0;
}

.baoliao-bd img {
    width: 100px;
    height: 100px;
}

.baoliao-bd .info {
    margin-left: 10px;
    width: 210px;
}

.baoliao-bd .info strong {
    display: block;
    width: 210px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
}

.baoliao-bd .info p {
    width: 210px;
    height: 70px;
    color: #666666;
    overflow: hidden;
}

.baoliao-bd .item {
    width: 320px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}

.baoliao-bd .item i {
    color: #ffffff;
    float: left;
    display: block;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 12px;
    background: #cccccc;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 3px;
}

/* 头部重要内容中间 */
.main-grid2 {
    margin-left: 25px;
    width: 420px;
}

.top-news {

}

.top-news .news-list {
    text-align: center;
    margin: 0px 0 10px 0;
}

.top-news .news-list .title {
    width: 420px;
    height: 30px;
    overflow: hidden;
}

.top-news .news-list li {
    width: 420px;
    overflow: hidden;
    height: 25px;
    margin: 4px 0;
}

.top-news .news-list h3 {
    width: 420px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.top-news .news-list p {

    width: 420px;
    height: 40px;
    font-size: 12px;
    color: #666666;
    overflow: hidden;
}

.top-news .news-list .kuaixun span, .top-news .news-list .kuaixun span a {
    text-indent: 0;
    color: #289ee8;
}

.top-news .news-list .kuaixun {
    text-indent: 10px;
    text-align: left;
}

.top-news .pk {
    width: 420px;
    height: 128px;
    border: 1px solid #cccccc;
}

/* 头部重要内容右侧 */
.main-grid3 {
    margin-left: 25px;
    width: 272px;
}

.loginbox {
    width: 270px;
    background: #f5f7f8;
    border: 1px solid #ececec;
    height: 92px;
}

.unlogin {
    height: 98px;
    padding: 2px 10px;
    overflow: hidden;
}

.unlogin .login, .unlogin .regist {
    float: left;
    margin: 10px 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 41px;

    border-radius: 30px;
}

.unlogin .login {
    background: #289ee8;
}

.unlogin .regist {
    background: #f3a528;
}

.unlogin .other-lg {
    color: #666666;
    float: left;

    margin-left: 9px;
}

.unlogin .other-lg .weibo {
    float: right;
    margin: 0 5px;;
    padding: 10px;
    background: url(../images/wb.png) no-repeat;
}

.unlogin .other-lg .qq {
    float: right;
    margin: 0 5px;
    padding: 10px;
    background: url(../images/qq.png) no-repeat;
}

/* fruit */
.fruit-sale {
    margin-top: 10px;
}

.fruit-list {
    height: 186px;
    overflow: hidden;
    border-bottom: 1px dashed #cccccc;
}

.fruit-list li {
    margin: 12px 0 10px 0;
    padding: 0 10px;
    list-style: none;

}

.fruit-list li img {
    float: left;
    width: 70px;
    height: 70px;
}

.fruit-list li p {
    margin-top: -2px;
    margin-left: 10px;
    float: left;
    width: 164px;
}

.fruit-list li span {

    margin-left: 10px;
    font-size: 22px;
    color: #e8284c;
}

.fruit-list li span strong {
    font-size: 12px;
}

.fruit-list li span del {
    color: #999999;
    margin-left: 5px;
    font-size: 14px;

}

.arrowdown3 {
    width: 17px;
    height: 11px;
    margin: 6px auto 4px;
    background: url(../images/arrowdown3.png);
    cursor: pointer;
}

.save-money {
    width: 272px;
}

.save-info {
    width: 272px;
    padding: 0 5px;
}

.save-info li {
    float: left;
    height: 50px;
    font-size: 12px;
    margin-top: 10px;
    border-bottom: 1px dashed #cccccc;
    overflow: hidden;
}

.save-info li img {
    margin-top: 2px;
    width: 38px;
    height: 40px;
    float: left;

}

.save-info li span {
    margin: 0 0 3px 10px;
    float: left;
    width: 200px;
    height: 20px;
    overflow: hidden;
}

/*  社交 */
.social-list li {
    width: 68px;
    float: left;
}

.social-list li img {
    display: block;
    width: 49px;
    height: 42px;
    margin: 0 auto;
}

.social-list li a {
    font-size: 12px;
    display: block;
    text-align: center;
    color: #999;

}

/* 活动 */
.activity {
    margin-bottom: 20px;
}

.act-title {
    border-top: 1px solid #333333;
    overflow: hidden;
}

.act-title h1 {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: -1px;
    color: #289ee8;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 120px;
    border-top: 2px solid #289ee8;
}

.activity-nav {
    float: left;
    margin-left: 5px;
}

.activity-nav li {
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    float: left;
    padding: 5px 20px 0;
}

.activity-nav li a:hover {
    color: #289ee8;
}

.coupon-line {
    width: 60px;
    height: 2px;
    background: #289ee8;
    margin-left: 130px;
}

/* 活动主体内容 */

.activity-content {
    padding: 0 30px;
    border: 1px solid #ececec;
    overflow: hidden;
}

.content-house {

}

.content-pane1 {
    float: left;
    width: 280px;
    height: 410px;
}

.content-hd {
    width: 280px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    padding: 10px 0;
    border-bottom: 1px dashed #ececec;
}

.content-hd a {
    color: #289ee8;
}

.content-bd {
    margin-top: 15px;

}

.content-bd img {
    width: 280px;
    height: 335px;
}

.content-pane2 {
    float: left;
    margin-left: 35px;
}

.content-list {
    float: left;
    margin-left: 35px;
    width: 370px;
}

.content-list .content-hd {
    width: 370px;
}

.content-list .content-hd span {

    color: #999999;
}

.content-list .content-hd em {
    font-weight: bold;
    margin-right: 20px;
    color: #e8284c;
}

.content-list .content-bd li {
    font-size: 16px;
    height: 30px;
    width: 370px;
    margin: 5px 0;
}

.content-list .content-bd img {
    display: none;
}

.content-list .content-bd p {

    height: 25px;
    overflow: hidden;
}

.content-list .content-bd .list-active {
    height: 165px;
}

.content-list .content-bd .list-active img {
    display: block;
}

.content-list .content-bd i {
    margin: 11px 8px 0 0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #cccccc;
    float: left;
}

.content-list .content-bd img {
    width: 0;
    height: 0;
}

.content-list .content-bd .list-active img {
    margin: 5px 0;
    width: 370px;
    height: 135px;
}

/* 房产 */
.buidings {
    overflow: hidden;
}

.floor-pane1 {
    margin-top: 3px;
    width: 765px;
}

.floor-bgimage {
    float: left;
    overflow: hidden;
}

.floor-bgimage img {
    width: 320px;
    height: 200px;
}

.floor-news {
    width: 420px;
    float: left;
    margin-left: 25px;
}

.floor-news p {
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    color: #666;
    overflow: hidden;
}

.news-title {
    margin-top: 3px;
    text-align: center;
    font-size: 22px;
}

.news-title a {
    color: #289ee8;
}

.news-title a:hover {
    text-decoration: underline;
}

.floor-imgshow {
    position: relative;
    width: 765px;
    float: left;
    margin-top: 10px;

    overflow: hidden;
}

.imgshow-title {
    overflow: hidden;
}

.imgshow-title h3 {
    float: left;
    font-size: 16px;
}

.imgshow-list {
    width: 765px;
    height: 125px;
    padding: 5px 0;
    overflow: hidden;
}

.imgshow-list ul {
    margin: 0 14px;
    width: 2000px;
}

.imgshow-list img {
    width: 220px;
    height: 130px;
}

.imgshow-list li {
    float: left;
    margin: 0 13px;
}

.imgshow-list li a {
    position: relative;;
    display: block;
}

.img-bg {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}

.imgshow-arrow {
    position: absolute;
    z-index: -1;
    top: 82px;
    height: 29px;
    width: 765px;
}

.arrow-left {
    position: absolute;
    top: 82px;
    cursor: pointer;
    width: 14px;
    height: 29px;
    background: url(../images/arrowleft.png);
}

.arrow-right {
    position: absolute;
    top: 82px;
    right: 0;
    cursor: pointer;
    width: 14px;
    height: 29px;
    background: url(../images/arrowright.png);
}

/* 房产右侧内容 */
.floor-pane2 {
    margin-left: 25px;
    width: 272px;
}

.floor-pane2 h3 {
    font-size: 16px;
    color: #e8284c;
}

.kanfang {

}

.kanfang i {
    float: left;
    margin: 2px 5px 0 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: block;
    color: #ffffff;

    background: #cccccc;
    border-radius: 3px;
}

.kanfang li a {
    display: block;
    width: 272px;
    height: 26px;
    overflow: hidden;
    margin: 3px 0;
}

.kanfang li p {
    width: 272px;
    height: 48px;
    color: #999;
    overflow: hidden;
}

.cars {
    margin-top: 20px;
}

.car-info {
    width: 420px;
}

.car-info li {
    float: left;
    width: 200px;
    margin: 6px 10px 0 0;
    font-size: 12px;
}
.car-info li i {
    padding: 1px 4px;
    margin-right: 8px;
    color: #ffffff;
    background: #289ee8;
}
.fours-sale li:first-child{
    margin-bottom: 9px;
}
.fours-sale li{
    margin: 4px 0;
}
.fours-sale li a{
    font-size: 12px;
}


.fours-sale img{
    width: 272px;
    height: 110px;
  }
.fours-sale .item-active{
    position: relative;
    height: 110px;
}
.fours-sale li i{
    margin: 6px 8px 0 0 ;
    width: 5px;
    height: 5px;
    border-radius: 5px;
}